# play
logs 
target
/.classpath
/.project
/.settings
/RUNNING_PID

# idea
/.idea
/.idea_modules
/*.iml
/out

# OS X
.DS_Store

# class files
*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
